﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderJavascript{
    <script type="text/javascript" src="/Scripts/App/Notification/alerter.js"></script>
    <script type="text/javascript" src="/Scripts/App/ViewModel/home.js"></script>
}

@Html.ActionLink("User", "Edit", "User")