﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- load requirejs -->
    <script src="/Scripts/App/Config/require-config.js"></script>  
    <script src="/Scripts/Lib/require.js"></script>  
</head>
<body>
    @RenderBody()

    <!-- bootstrap the viewmodel  -->
    <script>        
        require(['jquery', @RenderSection("vmModule")], function($, vm) {
            //in the callback after our dependencies loaded; on document ready, initialise our vm
            $(function () { vm.init(); });
        });        
    </script>                           

</body>
</html>
