﻿@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderJavascript{
    <script type="text/javascript" src="/Scripts/App/Data/userRepository.js"></script>
    <script type="text/javascript" src="/Scripts/App/Notification/alerter.js"></script>
    <script type="text/javascript" src="/Scripts/App/ViewModel/user.js"></script>    
}

<h2>User</h2>

<p>First name: <input data-bind="value: firstName" />
<p>Last name: <input data-bind="value: lastName" />
<input type="button" data-bind="click: saveData" value="Save"/>