﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="/Scripts/Lib/jquery-1.9.1.min.js"></script>  
    <script type="text/javascript" src="/Scripts/Lib/knockout-2.2.1.js"></script>  
    @RenderSection("HeaderJavascript")
</head>
<body>
    @RenderBody()
</body>
</html>
