﻿@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section vmModule{'ViewModel/user'}

<h2>User</h2>

<p>First name: <input data-bind="value: firstName" />
<p>Last name: <input data-bind="value: lastName" />
<input type="button" data-bind="click: saveData" value="Save"/>
    
@Html.ActionLink("Home", "Index", "Home")